.left-section {
  position: absolute;
  top: 40px;
  width: 250px ;
  background-color:aliceblue;
  padding: 10px;
}

.timeline__slider {
  width: 300px;
  bottom: 50px;
  position: absolute;
  background: gray;
}

.timeline__slider .bottom-range {
  margin: 10px;
}

.right-section{
  position: absolute;
  right:  0;
  top: 70px;
  width: 300px;
  height: 200px;
  background-color: darkgray;
  padding: 10px;
}

.right-section .range-dis {
  display: flex;
  width: 200px;
}

.right-section .range-dis div {
  width: 100px;
}

.right-section .range-dis div .num {
  background-color: beige;
  height: 20px;
}