
<div class="right-section">
  {{#each this.timelineList as |timeline|}}
  {{#if timeline.isChecked}}
  {{log timeline}}
    <p>{{timeline.name}}</p>
    <RightSection::TimelineSection @timeline={{timeline}} @rangeFilter={{timeline.dateRangeFilter.[0]}}/>
  {{/if}}
{{/each}}
</div>
